.tooltip {
	position: absolute;
	text-align: left;
	width: auto;
	height: 40px;
	padding: 8px;
	font: 11px sans-serif;
	background: #ffffff;
	border: solid 1px #0000ff;
	border-radius: 8px;
	pointer-events: none;
}